@using DoAn_QLKhachSan.Extension;
@using DoAn_QLKhachSan.ViewModels;
@{
    Layout = null;
}
@model List<CartItem>
<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from easybook.kwst.net/booking-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:19:48 GMT -->
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Easybook - Hotel Booking Directory Listing Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="../assets/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
</head>
<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="pin">
            <div class="pulse"></div>
        </div>
    </div>
    <!--loader end-->
    <!-- Main  -->
    <div id="main">
        <!-- header-->
        @await Html.PartialAsync("_PatialHeader")
        <!--  header end -->
        <!--  wrapper  -->
        <div id="wrapper">
            <!-- content-->
            <div class="content">
                <div class="breadcrumbs-fs fl-wrap">
                    <div class="container">
                        
                    </div>
                </div>
                <section class="middle-padding gre y-blue-bg">
                    <div class="container">
                        <div class="list-main-wrap-title single-main-wrap-title fl-wrap">
                            <h2>Booking form for : <span>Park Central</span></h2>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="bookiing-form-wrap">
                                    <!--   list-single-main-item -->
                                    <div class="list-single-main-item fl-wrap hidden-section tr-sec">
                                        <div class="profile-edit-container">
                                            <div class="custom-form">
                                                <form method="post" asp-controller="DatPhong" asp-action="ThongTinDatPhong">
                                                    <fieldset class="fl-wrap book_mdf">
                                                        <div class="list-single-main-item-title fl-wrap">
                                                            <h3>Thông tin của bạn</h3>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <label>Họ và tên <i class="far fa-user"></i></label>
                                                                <input type="text" placeholder="Họ và tên" name="HoVaTen" value="" required />
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <label>Email<i class="far fa-envelope"></i>  </label>
                                                                <input type="email" placeholder="yourmail@gmail.com" name="Email" value="" required />
                                                            </div>
                                                            <div class="col-sm-6">
                                                                <label>Số điện thoại<i class="far fa-phone"></i> </label>
                                                                <input type="text" placeholder="" name="SoDienThoai" value="" required />
                                                            </div>
                                                        </div>
                                                        <div class="list-single-main-item-title fl-wrap">
                                                            <h3>Ghi chú</h3>
                                                        </div>
                                                        <textarea cols="40" rows="3" name="GhiChu" placeholder="Notes"></textarea>
                                                        <span class="fw-separator"></span>
                                                        <input type="submit" name="payment" class="btn color-bg" value="Đặt phòng (COD)"></input>
                                                        <input type="submit" name="payment" class="btn color-bg" value="Thanh toán VNPay"></input>
                                                    </fieldset> 
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!--   list-single-main-item end -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="box-widget-item-header">
                                    <h3>Phòng đặt</h3>
                                </div>
                                <!--cart-details  -->
                                @foreach(var item in Model){
                                    <div class="cart-details fl-wrap">
                                        <!--cart-details_header-->
                                        <div class="cart-details_header">
                                            <a href="#" class="widget-posts-img"><img src="../assets/images/phong/@item.AnhDaiDien" class="respimg" alt=""></a>
                                            <div class="widget-posts-descr">
                                                <a href="#" title="">@item.TenPhong</a>
                                                <div class="listing-rating card-popup-rainingvis" data-starrating2="@item.SoSao"></div>
                                                <div class="geodir-category-location fl-wrap"><a href="#"><i class="fas fa-map-marker-alt"></i>@item.DiaChi</a></div>
                                            </div>
                                        </div>
                                        <!--cart-details_header end-->
                                        <!--ccart-details_text-->
                                        <div class="cart-details_text">
                                            <ul class="cart_list">
                                                <li>Giá phòng <span><strong>@item.GiaPhong.Value.ToVND()</strong></span></li>
                                                <li>Bắt đầu: <span>@item.BatDau</span></li>
                                                <li>Kết thúc: <span>@item.KetThuc</span></li>
                                            </ul>
                                        </div>
                                        <!--cart-details_text end -->
                                    </div>
                                }
                                <!--cart-details end -->
                                <!--cart-total -->
                                <div class="cart-total">
                                    <span class="cart-total_item_title">Tổng tiền</span>
                                    <strong>@Model.Sum(x => x.TongTien()).Value.ToString("N0")₫</strong>
                                </div>
                                <!--cart-total end -->
                            </div>
                        </div>
                    </div>
                </section>
                <!-- section end -->
            </div>
            <!-- content end-->
        </div>
        <!--wrapper end -->
        <!--footer -->
        @await Html.PartialAsync("_PatialFooter")
        <!--footer end -->
        <a class="to-top"><i class="fas fa-caret-up"></i></a>
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/plugins.js"></script>
    <script type="text/javascript" src="../assets/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&amp;libraries=places&amp;callback=initAutocomplete"></script>
</body>

<!-- Mirrored from easybook.kwst.net/booking-single.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:19:48 GMT -->
</html>