@{
    Layout = "~/Views/Shared/_LayoutTrangCaNhan.cshtml";
}
@model DoAn_QLKhachSan.ViewModels.ProfileViewModel
<section class="middle-padding">
    <div class="container">
        <!--dasboard-wrap-->
        <div class="dasboard-wrap fl-wrap">
            <!-- dashboard-content-->
            <div class="dashboard-content fl-wrap">
                <div class="box-widget-item-header">
                    <h3>Thông tin cá nhân</h3>
                </div>
                <!-- profile-edit-container-->
                <div class="profile-edit-container">
                    <form class="custom-form" method="post" asp-controller="User" asp-action="EditProfile" enctype="multipart/form-data">
                        <div class="text-danger" asp-validation-summary="All"></div>

                        <label asp-for="@Model.HoVaTen">Họ và tên<i class="far fa-user"></i></label>
                        <input asp-for="@Model.HoVaTen" type="text" placeholder="Họ và tên" />
                        <span asp-validation-for="@Model.HoVaTen" class="text-danger"></span>

                        <label asp-for="@Model.SoDienThoai">Số điện thoại<i class="far fa-phone"></i>  </label>
                        <input asp-for="@Model.SoDienThoai" type="text" placeholder="Số điện thoại" />
                        <span asp-validation-for="@Model.SoDienThoai" class="text-danger"></span>
                        <div class="row">
                            <div class="col-sm-3">
                                <label>Ảnh đại diện</label>
                                <div class="add-list-media-wrap">
                                    <div class="fuzone">
                                        <div class="fu-text">
                                            <span><i class="far fa-cloud-upload-alt"></i> Click here or drop files to upload</span>
                                            <div class="photoUpload-files fl-wrap"></div>
                                        </div>
                                        <input asp-for="@Model.Anh" type="file" class="upload">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="add-button color-bg" type="submit">Lưu</button>
                    </form>
                </div>
            </div>
            <!-- dashboard-list-box end-->
        </div>
        <!-- dasboard-wrap end-->
    </div>
</section>