@{
    Layout = null;
}
@model DoAn_QLKhachSan.ViewModels.DangNhapVM;
<!DOCTYPE HTML>
<html lang="en">

<!-- Mirrored from easybook.kwst.net/contacts.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:19:48 GMT -->
<head>
    <!--=============== basic  ===============-->
    <meta charset="UTF-8">
    <title>Easybook - Hotel Booking Directory Listing Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <!--=============== css  ===============-->
    <link type="text/css" rel="stylesheet" href="../assets/css/reset.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/plugins.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/style.css">
    <link type="text/css" rel="stylesheet" href="../assets/css/color.css">
    <!--=============== favicons ===============-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
    <!--loader-->
    <div class="loader-wrap">
        <div class="pin">
            <div class="pulse"></div>
        </div>
    </div>
    <!--loader end-->
    <!-- Main  -->
    <div id="main">
        <!-- header-->
        
        @await Html.PartialAsync("_PatialHeader")
        <!--  header end -->
        <!--  wrapper  -->
        <div id="wrapper">
            <!-- content-->
            <div class="content">
                <section id="sec1" class="grey-b lue-bg middle-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                            <div class="col-md-8">
                                <div class="list-single-main-item fl-wrap">
                                    <div class="list-single-main-item-title fl-wrap">
                                        <h3>Đăng nhập</h3>
                                    </div>
                                    <div id="contact-form">
                                        <div id="message"></div>
                                        <form class="custom-form" method="post" asp-action="Login" asp-route-returnurl="@ViewBag.ReturnUrl">
                                            <div class="text-danger" asp-validation-summary="All"></div>
                                            <fieldset>
                                                <label asp-for="@Model.TenDangNhap"><i class="fal fa-user"></i></label>
                                                <input type="text" asp-for="@Model.TenDangNhap" placeholder="Tài khoản"/>
                                                <span asp-validation-for="@Model.TenDangNhap" class="text-danger"></span>
                                                <div class="clearfix"></div>
                                                <label asp-for="@Model.MatKhau"><i class="fal fa-lock"></i></label>
                                                <input type="password" asp-for="@Model.MatKhau"/>
                                                <span asp-validation-for="@Model.MatKhau" placeholder="Mặt khẩu" class="text-danger"></span>
                                            </fieldset>
                                            <button class="btn float-btn color2-bg" style="margin-top:15px;" type="submit">Đăng nhập <i class="fal fa-angle-right"></i></button>
                                        </form>
                                    </div>
                                    <!-- contact form  end-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section-decor"></div>
                </section>
                <!-- section end -->
            </div>
            <!-- content end-->
        </div>
        <!--wrapper end -->
        <!--footer -->
        @await Html.PartialAsync("_PatialFooter")
        <!--footer end -->
        <!--register form -->
        <!--register form end -->
        <a class="to-top"><i class="fas fa-caret-up"></i></a>
    </div>
    <!-- Main end -->
    <!--=============== scripts  ===============-->
    <script type="text/javascript" src="../assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/plugins.js"></script>
    <script type="text/javascript" src="../assets/js/scripts.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwJSRi0zFjDemECmFl9JtRj1FY7TiTRRo&amp;libraries=places&amp;callback=initAutocomplete"></script>
    <script type="text/javascript" src="../assets/js/map-single.js"></script>
</body>

<!-- Mirrored from easybook.kwst.net/contacts.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 25 Jan 2024 09:19:48 GMT -->
</html>