@using DoAn_QLKhachSan.Extension;
@using DoAn_QLKhachSan.ViewModels;
@model PhongModel
@{
    Layout = null;
    var lst = Model.ImagePaths.Select(filename => $"{{'src': '../assets/Images/phong/{filename}'}}").ToList();
    string result = string.Join(",", lst);
}
@functions {
    QuanLyKhachSanContext db = new QuanLyKhachSanContext();
    public List<TienNghi>getAllTienNghiOfPhong(int? idP)
    {
        
    // Kiểm tra idP có giá trị không
    if (idP == null) return new List<TienNghi>();  // Trả về danh sách rỗng nếu idP là null
        var result = db.PhongTienNghis
        .Where(ptn => ptn.IdPhong == idP) // Sử dụng tham số idP
        .Join(db.TienNghis,
        ptn => ptn.IdTienNghi,
        tn => tn.Id,
        (ptn, tn) => tn)  // Trả về các đối tượng TienNghi
        .ToList();  // Chuyển kết quả thành List
        return result;
        }
}

<!--ajax-modal-wrap -->
<div class="ajax-modal-wrap fl-wrap">
    <div class="ajax-modal-close"><i class="fal fa-times"></i></div>
    <!--ajax-modal-item-->
    <div class="ajax-modal-item fl-wrap">
        <div class="ajax-modal-media fl-wrap">
            <img src="../assets/images/phong/@Model.Phong.AnhDaiDien" alt="">
            <div class="ajax-modal-title">
                <div class="section-title-separator"><span></span></div>
                @Model.Phong.TenPhong
            </div>
            <div class="ajax-modal-photos-btn dynamic-gal" data-dynamicPath="[@result]">Ảnh (<span>@Model.ImagePaths.Count()</span>)</div>
        </div>
        <div class="ajax-modal-list fl-wrap">
            <ul>
                <li>
                    <i class="fal fa-user-alt"></i>
                    <h5><span>3</span> Người</h5>
                </li>
                <li>
                    <i class="fal fa-chalkboard"></i>
                    <h5><span>52</span> m²</h5>
                </li>
                <li>
                    <i class="fal fa-bath"></i>
                    <h5><span>1</span> Phòng tắm</h5>
                </li>
                <li>
                    <i class="fal fa-hand-holding-usd"></i>
                    <h5><span>@Model.Phong.GiaPhong.Value.ToVND()</span> / 1 đêm</h5>
                </li>
            </ul>
        </div>
        <div class="ajax-modal-details fl-wrap">
            <!--ajax-modal-details-box-->
            <div class="ajax-modal-details-box">
                <h3>Chi tiết</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla. Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Aliquam erat volutpat. Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa, a consequat purus viverra.</p>
            </div>
            <!--ajax-modal-details-box end-->
            <!--ajax-modal-details-box-->
            <div class="ajax-modal-details-box">
                <h3>Tiện nghi phòng</h3>
                <div class="listing-features fl-wrap">
                    <ul>
                        @foreach(var tiennghi in getAllTienNghiOfPhong(Model.Phong.Id)){
                            <li><i class="@tiennghi.ClassIcon"></i>@tiennghi.TenTienNghi</li>
                        }
                    </ul>
                </div>
            </div>
            <!--ajax-modal-details-box end-->
            <a href="/DatPhong/BookPhong?id=@Model.Phong.Id" class="btn float-btn color2-bg">Đặt phòng<i class="fas fa-caret-right"></i></a>
        </div>
    </div>
    <!--ajax-modal-item-->
</div>
<!--ajax-modal-wrap end -->
 
