@{
    Layout = "~/Views/Shared/_LayoutKhachSan.cshtml";
    ViewData["Title"] = "Khach San Theo Khu Vuc";
}
@model List<KhachSan>
@functions {
    QuanLyKhachSanContext db = new QuanLyKhachSanContext();
    public List<TienNghi>getAllTienNghiOfKhachSan(int? idks)
    {

        // Kiểm tra idP có giá trị không
        if (idks == null) return new List<TienNghi>();  // Trả về danh sách rỗng nếu idP là null
        var result = db.KhachSanTienNghis
        .Where(ptn => ptn.IdKhachSan == idks) // Sử dụng tham số idP
        .Join(db.TienNghis,
        ptn => ptn.IdTienNghi,
        tn => tn.Id,
        (ptn, tn) => tn).Take(4)  // Trả về các đối tượng TienNghi
        .ToList();  // Chuyển kết quả thành List
        return result;
    }
}
@if(Model.Count() == 0){
    <h1 class="bg-danger text-white">Không có khách sạn nào còn phòng vào ngày đã chọn</h1>
}
else
{
    @foreach (var item in Model)
    {

        var averageGiaPhong = item.Phongs.Average(x => x.GiaPhong);
        var roundedAverage = 0;
        if (averageGiaPhong != null)
        {
            roundedAverage = (int)Math.Round(averageGiaPhong.Value);
        }

        <div class="listing-item">
            <article class="geodir-category-listing fl-wrap">
                <div class="geodir-category-img">
                    <a href="/Phong/PhongTheoKhachSan?idkhachsan=@item.Id"><img src="../assets/images/hotels/@item.AnhDaiDien" alt=""></a>
                    <div class="geodir-category-opt">
                        <div class="listing-rating card-popup-rainingvis" data-starrating2="@item.SoSao"></div>
                    </div>
                </div>
                <div class="geodir-category-content fl-wrap title-sin_item">
                    <div class="geodir-category-content-title fl-wrap">
                        <div class="geodir-category-content-title-item">
                            <h3 class="title-sin_map"><a href="/Phong/PhongTheoKhachSan?idkhachsan=@item.Id">@item.TenKhachSan</a></h3>
                            <div class="geodir-category-location fl-wrap"><a href="#" class="map-item"><i class="fas fa-map-marker-alt"></i> @item.DiaChi</a></div>
                        </div>
                    </div>
                    <p>@item.GhiChu</p>
                    <ul class="facilities-list fl-wrap">
                         @foreach(var tnks in getAllTienNghiOfKhachSan(item.Id)){
                            <li><i class="@tnks.ClassIcon"></i><span>@tnks.TenTienNghi</span></li>
                        }
                    </ul>
                    <div class="geodir-category-footer fl-wrap">
                        <div class="geodir-opt-link">
                            <div class="geodir-category-price">Trung bình/đêm <span>@roundedAverage.ToString("N0") VNĐ</span></div>
                        </div>
                        <div class="geodir-opt-list">
                            <a href="#" class="single-map-item" data-newlatitude="40.90261483" data-newlongitude="-74.15737152"><i class="fal fa-map-marker-alt"></i><span class="geodir-opt-tooltip">On the map</span></a>
                            <a href="#" class="geodir-js-favorite"><i class="fal fa-heart"></i><span class="geodir-opt-tooltip">Save</span></a>
                            <a href="#" class="geodir-js-booking"><i class="fal fa-exchange"></i><span class="geodir-opt-tooltip">Find Directions</span></a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    }
}


