@using DoAn_QLKhachSan.ViewModels;
@{
    ViewData["Title"] = "SuaPhong";
    Layout = "~/Views/Shared/_LayoutTrangCaNhan.cshtml";
}
@model List<LichSuDatVM>

<style>
    .dashboard-listing-table-image img {
        width: 100%;
        height: auto;
        border-radius: 6px;
        max-height: 174px;
        object-fit: cover;
    }
</style>

<section class="middle-padding">
    <div class="container">
        <!--dasboard-wrap-->
        <div class="dasboard-wrap fl-wrap">
            <!-- dashboard-content-->
            <div class="dashboard-content fl-wrap">
                <div class="dashboard-list-box fl-wrap">
                    <div class="dashboard-header fl-wrap">
                        <h3>Yêu cầu đặt phòng</h3>
                    </div>
                    <!-- dashboard-list  -->
                    @foreach (var item in Model)
                    {
                        <div class="dashboard-list">
                            <div class="dashboard-message">
                                <div class="dashboard-listing-table-image">
                                    <a href=""><img src="../assets/images/phong/@item.AnhDaiDien" alt=""></a>
                                </div>
                                <div class="dashboard-listing-table-text">
                                    <div class="dashboard-message-text">
                                        <h4><span>Ngày đặt: @item.NgayDat</span></h4>
                                        <div class="booking-details fl-wrap">
                                            <span class="booking-title">Tên khách sạn :</span> :
                                            <span class="booking-text"><a href="#">@item.TenKhachSan</a></span>
                                        </div>
                                        <div class="booking-details fl-wrap">
                                            <span class="booking-title">Người đặt :</span>
                                            <span class="booking-text"><a href="#" target="_top">@item.TenNguoiDat</a></span>
                                        </div>
                                        <div class="booking-details fl-wrap">
                                            <span class="booking-title">Ngày đến - Ngày đi :</span>
                                            <span class="booking-text">@item.BatDau  - @item.KetThuc</span>
                                        </div>
                                        <div class="booking-details fl-wrap">
                                            <span class="booking-title">Gmail :</span>
                                            <span class="booking-text"><a href="#" target="_top">@item.Email</a></span>
                                        </div>
                                        <div class="booking-details fl-wrap">
                                            <span class="booking-title">Số điện thoại :</span>
                                            <span class="booking-text"><a href="tel:+496170961709" target="_top">@item.SoDienThoai</a></span>
                                        </div>
                                        <div class="booking-details fl-wrap">
                                            <span class="booking-title">Phương thức thanh toán:</span>
                                            <span class="booking-text">VNpay</span>
                                        </div>
                                        <span class="fw-separator"></span>
                                        <p>Ghi chú: @item.GhiChu</p>
                                        <div class="booking-details fl-wrap">
                                            <span class="booking-title">Trạng thái:</span>
                                           <select class="trangThaiSelect" data-itemid="@item.Id">
                                                @foreach (var tt in ViewBag.IdTrangThai)
                                                {
                                                    int value = Convert.ToInt32(tt.Value); // Chuyển đổi từ string sang int
                                                    <option data-id="@value" value="@tt.Value" selected="@(value == item.IdTrangThai ? "selected" : null)">@tt.Text</option>
                                                }
                                            </select>                                      
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!-- dashboard-list-box end-->
        </div>
        <!-- dasboard-wrap end-->
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('.trangThaiSelect').change(function () {
            var idDatPhong = $(this).data('itemid');
            var selectedOption = $(this).find(':selected');
            var dataId = selectedOption.data('id');
            

            $.ajax({
                url: '/QLKhachSan/ThayDoiTrangThai',
                type: 'POST',
                data: { iddatphong: idDatPhong, idtrangthai: dataId },
                success: function (response) {
                    if (response.success) {
                        alert(response.message);
                        // Điều chỉnh giao diện hoặc thực hiện các hành động cần thiết sau khi cập nhật thành công
                    } else {
                        alert('Có lỗi xảy ra: ' + response.message);
                    }
                },
                error: function (xhr, status, error) {
                    alert('Đã xảy ra lỗi: ' + error);
                }
            });
        });
    });
</script>